@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO</h1>
    <p> Vamos ler para podermos aprofundar nossos conhecimentos gerais!!!</p>
</div>

<div class="FotoInicial">

    <img src="~/img/imagem1.png" />

</div>
<br />
<div class="Foto2">

    <img src="~/img/imagem2.png" />

</div>