body {
    background-color:bisque;

}
.tipo {
    background-color: aliceblue;
    width: 700px;
    height: 300px;
    text-align: center;
    margin-left: 450px;
    margin-top: 150px;
    border-radius:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
}
.btn btn-primary {
    background-color: #77797B;
    border: none;
    margin-top: 5%;
}

.btn:hover {
    background-color: #FFD5EF !important;
}